.profil {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    
}

.user {
    color: grey;

}
.icone{
    height: 10vh;
    margin-top: 10%;
    color:white ;

}

.logout {
    width : 50%;
    margin : auto;
    border-radius: 80% / 100%;;
    background-color : rgb(0, 0, 38);
    font-size: 1em;
    color: white;
    border-color: white;
}